@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: var(--color-white); /* #ffffff */
  --foreground: var(--color-neutral-800); /* #262626 */
  --foreground-secondary: var(--color-neutral-700); /* #404040 */
  --foreground-tertiary: var(--color-neutral-600); /* #525252 */
  --foreground-quaternary: var(--color-neutral-500); /* #737373 */
  --foreground-quinary: var(--color-neutral-400); /* #a1a1a1 */
  --primary: var(--color-rose-400); /* #ff637e */
  --primary-foreground: var(--color-white); /* #ffffff */
  --secondary: var(--color-rose-100);
  --secondary-foreground: var(--color-rose-400);

  --icon: var(--color-neutral-500); /* #737373 */
  --border: var(--color-neutral-300); /* #d4d4d4 */
  --border-secondary: var(--color-neutral-200); /* #e5e5e5 */
  --accent: color-mix(in oklab, var(--color-neutral-200) 80%, transparent);
  --accent-foreground: var(--color-neutral-800);
  --muted: var(--color-neutral-100);
  --muted-foreground: var(--color-neutral-700);
  --destructive: var(--color-red-500);

  --input: var(--color-neutral-100);
  --ring: var(--color-neutral-200);
  --card: var(--color-neutral-100);
  --card-foreground: var(--color-neutral-800);
  --popover: var(--color-white);
  --popover-foreground: var(--color-neutral-800);

  --sidebar: var(--color-neutral-100);
  --sidebar-foreground: var(--color-neutral-600);
  --sidebar-accent: color-mix(in oklab, var(--color-neutral-200) 80%, transparent);
  --sidebar-accent-foreground: var(--color-neutral-800);
  --sidebar-collapse: color-mix(in oklab, var(--color-neutral-300) 80%, transparent);
  --sidebar-border: var(--color-neutral-200);
  --sidebar-ring: var(--color-neutral-200);
}

.dark {
  --background: var(--color-neutral-900);
  --foreground: var(--color-neutral-100);
  --foreground-secondary: var(--color-neutral-200);
  --foreground-tertiary: var(--color-neutral-300);
  --foreground-quaternary: var(--color-neutral-400);
  --foreground-quinary: var(--color-neutral-500);

  --icon: var(--color-neutral-400);
  --border: var(--color-neutral-700);
  --border-secondary: var(--color-neutral-800);
  --accent: color-mix(in oklab, var(--color-neutral-700) 60%, transparent);
  --accent-foreground: var(--color-neutral-50);
  --muted: var(--color-neutral-800);
  --muted-foreground: var(--color-neutral-100);
  --destructive: var(--color-red-400);

  --input: var(--color-neutral-800);
  --ring: var(--color-neutral-500);
  --card: var(--color-neutral-800);
  --card-foreground: var(--color-neutral-100);
  --popover: var(--color-neutral-900);
  --popover-foreground: var(--color-neutral-100);

  --sidebar: color-mix(in oklab, var(--color-neutral-800) 60%, transparent);
  --sidebar-foreground: color-mix(in oklab, var(--color-neutral-400) 90%, transparent);
  --sidebar-accent: color-mix(in oklab, var(--color-neutral-700) 70%, transparent);
  --sidebar-accent-foreground: var(--color-neutral-50);
  --sidebar-collapse: var(--color-neutral-700);
  --sidebar-border: color-mix(in oklab, var(--color-neutral-700) 50%, transparent);
  --sidebar-ring: var(--color-neutral-600);
}

/* Tailwind CSS 테마 변수 */
@theme inline {
  --font-sans: var(--font-pretendard);
  --font-mono: var(--font-cascadia-mono);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-secondary: var(--foreground-secondary);
  --color-foreground-tertiary: var(--foreground-tertiary);
  --color-foreground-quaternary: var(--foreground-quaternary);
  --color-foreground-quinary: var(--foreground-quinary);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-icon: var(--icon);
  --color-border: var(--border);
  --color-border-secondary: var(--border-secondary);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-destructive: var(--destructive);

  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-collapse: var(--sidebar-collapse);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  button:not(:disabled),
  [role='button']:not(:disabled) {
    @apply cursor-pointer;
  }

  /* Scrollbar */
  ::-webkit-scrollbar {
    @apply w-2;
  }
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-foreground/30 rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-foreground/40;
  }
  ::-webkit-scrollbar-thumb:active {
    @apply bg-foreground/50;
  }
  ::-webkit-scrollbar-button:vertical:start:decrement,
  ::-webkit-scrollbar-button:vertical:start:increment {
    @apply block h-0.5;
  }
}
